/*tree*/
.nj_tree{line-height:2}
.nj_tree li{width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;clear:both}
.nj_tree ul ul{display:none}
.nj_tree .item{display:block;color:#333;margin:0 0 1px;-webkit-transition:background .2s linear;-moz-transition:background .2s linear;padding:0 20px}
.nj_tree .item:hover{background:#f4f4f4;text-decoration:none}
.nj_tree .folder,.nj_tree .ico,.nj_tree .line{float:left;width:17px;height:24px;background:url(../img/tree.png) no-repeat 3px -40px;overflow:hidden}
.nj_tree .line{background-position:3px -172px}
.nj_tree .folder{width:15px;height:15px;background-position:-20px -86px;margin:4px 3px 0 0}
.nj_tree .open .folder{background-position:-41px -86px}
.nj_tree .open .ico{background-position:3px -128px}
.nj_tree .open .first_ico{background-position:3px -106px}
.nj_tree .ico{background-position:3px -40px}
.nj_tree .first_ico{background-position:3px -18px}
.nj_tree .no_child{background:none}
.nj_tree .no_child .folder{background-position:-18px -109px}
.nj_tree .no_child .ico{background-position:3px -194px}
.nj_tree .no_child .first_ico{background-position:-17px -124px}
.nj_tree .current,.nj_tree .current:hover{color:#f30;background:#f4f4f4;font-weight:800}
.nj_tree .item .last_ico{background-position:3px -214px!important}
.nj_tree .item .last_ico1{background-position:3px -60px}
.nj_tree .open .last_ico1{background-position:3px -148px}
.nj_tree .item .last_line{background:none}
.nj_tree input{float:left;vertical-align:-2px;margin:5px 5px 0 2px}
.nj_tree .no_child input{margin-right:0}
.nj_tree .more{position:relative;overflow:visible}
.nj_tree .more a{color:#bbb}